@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for that Cyberpunk feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22d3ee; 
}